services:
  server:
    build:
      context: ./server
      dockerfile: Dockerfile
    env_file:
      - /etc/blurenvironment/.env
    restart: always
    ports:
      - "5000:5000"

  client:
    build:
      context: ./client
      dockerfile: Dockerfile
      args:
        VITE_BASE_URL="http://server-service.2401106.svc.cluster.local:5000"
    restart: always
    ports:
      - "80:80"