services:
  server:
    build:
      context: ./server
      dockerfile: Dockerfile
    environment:
      - PORT=5000
      - MONGO_URI=mongodb://mongo:27017/blurapp
      - JWT_SECRET=dev_secret_key_123
      - GMAIL_USER=mock
      - GMAIL_PASS=mock
      - BASE_URL=http://localhost
    depends_on:
      - mongo
    restart: always
    ports:
      - "5000:5000"

  client:
    build:
      context: ./client
      dockerfile: Dockerfile
      args:
        VITE_BASE_URL: "/api"
    restart: always
    ports:
      - "80:80"
    depends_on:
      - server

  mongo:
    image: mongo:latest
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

volumes:
  mongo-data: