services:
  server:
    build:
      context: ./server
      dockerfile: Dockerfile
    env_file:
      - ./server/.env
    restart: always
    ports:
      - "5000:5000"

  client:
    build:
      context: ./client
      dockerfile: Dockerfile
      args:
        VITE_BASE_URL: "http://<EC2_PUBLIC_IP>:5000"
    restart: always
    ports:
      - "80:80"
