services:
  server:
    build:
      context: ./server
      dockerfile: Dockerfile
    env_file:
      - /home/ubuntu/prod_env_server.env
    restart: always
    ports:
      - "5000:5000"

  client:
    build:
      context: ./client
      dockerfile: Dockerfile
      args:
        VITE_BASE_URL: "http://13.233.70.197:5000"
    restart: always
    ports:
      - "80:80"
