services:
  server:
    build:
      context: ./server
      dockerfile: Dockerfile
    environment:
      - PORT=5000
      - MONGO_URI=${MONGO_URI}
      - JWT_SECRET=dev_secret_key_123
      - BASE_URL=http://localhost
    restart: always
    ports:
      - "5000:5000"

  client:
    build:
      context: ./client
      dockerfile: Dockerfile
      args:
        VITE_BASE_URL: "/api"
    restart: always
    ports:
      - "80:80"
    depends_on:
      - server