services:
  server:
    build:
      context: ./server
      dockerfile: Dockerfile
    env_file:
      - ./server/.env
    restart: always
    ports:
      - "5000:5000"
    depends_on:
      - mongo

  client:
    build:
      context: ./client
      dockerfile: Dockerfile
      args:
        VITE_BASE_URL: "http://localhost:5000" # overridden by Jenkins to use EC2 IP
    restart: always
    ports:
      - "80:80"
