apiVersion: apps/v1
kind: Deployment
metadata:
  name: client
  namespace: "2401106"
spec:
  replicas: 1
  selector:
    matchLabels:
      app: client
  template:
    metadata:
      labels:
        app: client
    spec:
      containers:
      - name: client
        image: nexus.imcc.com/repository/2401106/client:latest
        ports:
        - containerPort: 80
        env:
        - name: VITE_BASE_URL
          value: "http://server-service:5000"
