apiVersion: apps/v1
kind: Deployment
metadata:
  name: server
  namespace: "2401106"
spec:
  replicas: 1
  selector:
    matchLabels:
      app: server
  template:
    metadata:
      labels:
        app: server
    spec:
      containers:
      - name: server
        image: nexus.imcc.com/repository/2401106/server:latest
        ports:
        - containerPort: 5000
        env:
        - name: PORT
          value: "5000"
